<div class="balls text-center">
    <h1>Strategic Tic-Tac-Toe</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="rules">
                <h4>Welcome to strategic tic-tac-toe! Here are the rules:</h4>
                <ul class="text-start rule-list">
                    <li>penis</li>
                    <li>fart</li>
                    <li>shit</li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <a routerLink="/game" class="play-btn"></a>

</div>